html {
  background-color: #f2f1ed;
  font-family: Georgia, serif;
}
h2 {
  color: #5d8432;
  text-transform: uppercase;
}
figcaption {
  font-size: 0.8rem;
  font-style: italic;
  text-align: center;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}
a,
a:link {
  color: #793284;
}
a:hover {
  color: #b42885;
}
ul, ol {
  list-style-type: none;
}
